input {
	outline: none;
}
body {
	background-image: url("../img/regback.jpg");

}
.panel {
	border-radius: 10px;
	box-shadow: 0 0 10px black;
	background: rgba(20, 21, 25, 0.94);
	margin-top: 40px;
    width: 75%;


}
.panel .state {
	margin-top: 5px;
	width: 100%;
	height: 155px;
	color: white;
	font-size: 20px;
	text-align: center;
}

.panel .state i.fa-unlock-alt {
	font-size: 25px;
	color: white;
	line-height: 33px;
	height: 30px;
	width: 30px;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid;
}
.panel .form {
	width: 600px;
	margin-left: 120px;
}
.panel .login {
	height: 50px;
	width: 85%;
	background-color: #f57f17;
	border-radius: 45px;
	position: relative;
	line-height: 45px;
	text-align: center;
    font-size: 25px;
	margin-left: 18px;
	border: none;
	color: white;
	margin-top: 10px;
	transition: background 0.8s;
	cursor: pointer;
}

.panel .login:hover {
	background-color: #9c5314;
}



.panel input[type='text'],input[type='password'],input[type='email'] ,input[type='tel']{
	background-color: rgba(34, 35, 42, 0.98);
	font-size: 12px;
	border-radius: 45px;
    width: 85%;
	margin-left: 18px;
	border: none;
	height: 45px;

	margin-bottom: 10px;

}

.panel input[type='text']:focus,input[type='password']:focus,input[type='email']:focus ,input[type='tel']:focus{
	background-color: #18181c;
	border-style: solid;
	border-color: #bc3237;
	border-width: 2px;
	transition: 0.5s;

}
.panel input[type='text'][placeholder],input[type='email'][placeholder],input[type='password'][placeholder],input[type='tel'] {
	color: #656d79;
	font-size: 15px;
	font-weight: 500;
	padding-left: 15px;
}


.lbl{
	color: #656d79;
	font-size: 33px;
	font-weight: 500;
	text-align: left;
	padding-left: 18px;
    vertical-align: middle;
    width: auto;
}

.lblerror{
	color: #f03c44;
	font-size: 17px;
	font-weight: 500;
	float: right;
	padding-right: 50px;
	display: none;
}



.mid{
	padding-left: 70px;

}

h5{
    text-align: center;
    padding-top: 10px;

    color: #fff;
}

a{
    color: #f03c44;

}

a:hover{
    color: #bc3237;
    transition: 0.8s;
}
/*
#ver{
    display: none;
}
#mn{
    display: block;
}*/

.back-to-top {
	position: fixed;
	display: none;
	background: #c94440;
	color: #fff;
	width: 44px;
	height: 44px;
	text-align: center;
	line-height: 1;
	font-size: 16px;
	border-radius: 50%;
	right: 15px;
	bottom: 15px;
	transition: background 0.5s;
	z-index: 11;
}

.back-to-top i {
	padding-top: 12px;
	color: #fff;
}

@media (max-width: 800px) {
    .back-to-top {
        bottom: 15px;
    }
}

.panel .reserve {
	height: 50px;
	width: 85%;
	background-color: #00e676;
	border-radius: 45px;
	position: relative;
	line-height: 45px;
	text-align: center;
	font-size: 23px;
	margin-left: 18px;
	border: none;
	color: white;
	margin-top: 10px;
	transition: background 0.8s;
	cursor: pointer;
}

.panel .reserve:hover {
	background-color: #008f44;
}




.panel .cngpass {
	height: 50px;
	width: 85%;
	background-color: #3d5afe;
	border-radius: 45px;
	position: relative;
	line-height: 45px;
	text-align: center;
	font-size: 22px;
	margin-left: 18px;
	border: none;
	color: white;
	margin-top: 10px;
	transition: background 0.8s;
	cursor: pointer;
}

.panel .cngpass:hover {
	background-color: #273e99;
}

.panel .logout {
	height: 50px;
	width: 85%;
	background-color: #c3403f;
	border-radius: 45px;
	position: relative;
	line-height: 45px;
	text-align: center;
	font-size: 23px;
	margin-left: 18px;
	border: none;
	color: white;
	margin-top: 10px;
	transition: background 0.8s;
	cursor: pointer;
}

.panel .logout:hover {
	background-color: #822a29;
}

.panel .del {
	height: 50px;
	width: 85%;
	background-color: #9317ff;
	border-radius: 45px;
	position: relative;
	line-height: 45px;
	text-align: center;
	font-size: 23px;
	margin-left: 18px;
	border: none;
	color: white;
	margin-top: 10px;
	transition: background 0.8s;
	cursor: pointer;
}

.panel .del:hover {
	background-color: #3c139a;
}





.table-rwd {
	border: 1px solid rgb(199, 60, 74);

	color: #000000;
	font-size: 15px;
	margin: 0 auto;
}

.table-rwd td,
.table-rwd th {
	border: 1px solid rgb(199, 60, 74);
	padding: 0.8em;
}

.table-rwd th {
	background-color: rgb(150, 150, 150);
	color: #ffffff;
	font-size: 15px;

	text-align: center;
}

.table-rwd td {
	text-align: center;
	background-color: #fff;
}


.table-rwd tr:hover {
	background-color: rgba(199, 60, 74, 0.71);
	transition: 0.8s;
}

.table-container {
	margin-left: -30px;
	margin-right: 40px;
	overflow-x: auto;
}

.table-rwd {
	min-width: 900px;
}


